/* src/components/AboutMe/AboutMe.module.css */

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow: hidden;
  }

  .pawPrint {
    position: absolute;
    width: 50px; /* Tamaño más pequeño para más huellas */
    height: 50px;
    background: url('../../utils/Image/pawPrint.png') no-repeat center center;
    background-size: contain;
    opacity: 0.5;
    z-index: 0; /* Asegura que las huellas estén en el fondo */
  }
  
  .aboutMeContainer {
    background-color: #ffd700; /* Amarillo */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2em;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.1em; 
    color: #333333;
    margin: 20px auto; 
    text-align: justify; 
    max-width: 800px; 
    line-height: 1.6; 
    padding: 0 20px;
    font-size: 1em;
  }
  
  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon {
    font-size: 2em;
    color: #333333;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #ff69b4; /* Rosa más oscuro */
  }
  
  .pawPrintTopLeft {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  
  .pawPrintBottomRight {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  
  @media (max-width: 1200px) {
    .aboutMeContainer {
      padding: 15px;
    }
  
    .title {
      font-size: 1.5em;
    }
  
    .description {
      font-size: 0.9em;
    }
  
    .icon {
      font-size: 1.5em;
    }
  }
  
  @media (max-width: 768px) {
    .aboutMeContainer {
      padding: 10px;
    }
  
    .profileImage {
      width: 120px;
      height: 120px;
    }
  
    .title {
      font-size: 1.2em;
    }
  
    .description {
      font-size: 0.8em;
    }
  
    .icon {
      font-size: 1.2em;
    }
  
    .pawPrintTopLeft,
    .pawPrintBottomRight {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .aboutMeContainer {
      padding: 10px;
      max-width: 90%;
    }
  
    .profileImage {
      width: 100px;
      height: 100px;
    }
  
    .title {
      font-size: 1em;
    }
  
    .description {
      font-size: 0.7em;
    }
  
    .icon {
      font-size: 1em;
    }
  
    .pawPrintTopLeft,
    .pawPrintBottomRight {
      width: 30px;
      height: 30px;
    }
  }
  